<div class="user-profile">
  <div id="username">
    <h2>{{username}}</h2>
  </div>
  <div id="avatar">
    <img src="https://steamuserimages-a.akamaihd.net/ugc/1031834816621498609/996E16C66A34F659566064EB608C901F95B69D40/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true"></img>
  </div>
  <div id="about-me">
    <p>About Me: {{aboutme}}</p>
  </div>
  <div id="other-names">
    <h5>Steam: {{steamUsername}}</h5>
    <h5>Twitch: {{twitchUsername}}</h5>
  </div>
</div>

{{!-- <script src="/js/login.js"></script> --}}